<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div id="container">
    <button ion-button (click)="goToHome()" class="btn">Go to Home</button>
  </div> -->

  <ion-list *ngIf="permission">
    <ion-list-header> Recent Conversations </ion-list-header>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img src="../../assets/customers-img/{{user.image}}" />
      </ion-avatar>
      <ion-label>
        <h2 class="colorBlue">{{user.name}}</h2>
        <p>{{user.description}}</p>
      </ion-label>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permission">No tienes permisos para ver los clientes</ion-label>

</ion-content>
